#codestyle
codestyle.standard = ${project.vendor}/polderknowledge/coding-standards/PolderKnowledge/ruleset.xml
codestyle.phpcodesniffer.enabled = true
codestyle.phpdoc.enabled = true

#phpcpd
phpcpd.enabled = true

#phpdoc
phpdoc.enabled = true

#phploc
phploc.enabled = true

#phpmd
phpmd.enabled = true

#test
test.phpunit.enabled = true

#security
security-check.enabled = true
